.result_tag {
    display: none;
}

.content {
    width: 80.7%;
    margin: 0 9.7% 20px;
    background-color: #fff;
    cursor: pointer;
}

.pic {
    width: 100%;
    margin: 20px 0;
}

.pic img {
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    padding: 0 30px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.text .title {
    width: 100%;
    margin: 24px 0 6px;
    font-size: 24px;
    color: #9013FE;
    font-weight: bold;
}

.text article {
    width: 100%;
    height: 45px;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
}

.text .info {
    width: 100%;
    display: flex;
    align-items: center;
}

.info .organizer {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.info .classification {
    padding: 2px 10px;
    font-size: 16px;
    position: relative;
    background-color: #D7D7D7;
    color: #fff;
    border-radius: 100px;
}

.city_and_time i {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.city_and_time p {
    margin: 0;
    font-size: 16px;
    color: #9B9B9B;
}

.city, .time {
    display: flex;
}

.city {
    margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
    .result_tag {
        display: block;
        width: 50.5%;
        margin: 0 5.2% 10px;
        float: right;
    }

    .result_tag p {
        display: inline;
        color: #9013FE;
    }

    .result_tag button {
        font-size: 16px;
        background: transparent;
        color: #9013FE;
        border: 1px solid #9013FE;
        padding: 0.7% 2.1%;
        border-radius: 100px;
        outline: none;
        cursor: pointer;
    }

    .result_tag button i {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-left: 5px;
        position: relative;
    }

    .result_tag button i::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 1px solid#9013FE;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .result_tag button ~ button {
        margin-left: 10px;        
    }

    .content {
        width: 50.5%;
        margin: 0 5.2% 20px;
        float: right;
    }

    .content .pic {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .result_tag, .content {
        width: 65%;
        margin: 10px 3.5%;
    }

    .result_tag button:hover,
    .result_tag button:hover i {
        background-color: #9013FE;
        color: white;
    }

    .result_tag button:hover i::before {
        border-color: white;
    }

    .content {
        display: flex;
        height: 21.1%;
        transition: .2s;
    }

    .content .pic {
        width: 18.3%;
    }

    .content .pic img {
        object-fit: cover;
    }

    .content:hover {
        transform: scale(1.1);
    }

    .content .text {
        width: 81.7%;
    }
}
