<div class="wrap">
    <div class="condition">
        <input type="checkbox" id='loc'>
        <div class="location">
            <div>
                <h2>Location</h2>
                <label for="loc"></label>
            </div>
            <div>
                <select>
                    <option value="taiwan">Taiwan</option>
                </select>
            </div>
        </div>
        <input type="checkbox" id="time">
        <div class="date">
            <div>
                <h2>Date</h2>
                <label for="time"></label>
            </div>
            <div class="from">
                <label>from</label>
                <input type="date">
            </div>
            <div class="to">
                <label>to</label>
                <input type="date">
            </div>
        </div>
    </div>
    <div class="result_tag">
        <h2>Showing <p>{{ total }}</p> results by…</h2>
        <!-- <button>Koahsiung<i>×</i></button>
        <button>Exhibition<i>×</i></button> -->
    </div>
    <section class="content" v-for='(record, index) in records' :key='record._id'>
        <div class="pic">
            <img :src="record.Picture1">
        </div>
        <div class="text">
            <h2 class='title'>{{ record.Name }}</h2>
            <article>{{ record.Toldescribe }}</article>
            <div class="info">
                <h3 class="organizer">{{ record.Zone }}</h3>
                <h3 class="classification">{{ classification[record.Class1] }}</h3>
            </div>
            <div class="city_and_time">
                <div class="city">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p>{{ record.Add }}</p>
                </div>
                <div class="time">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p>{{ record.Changetime }}</p>
                </div>
            </div>
        </div>
    </section>
</div>